<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="buttons-bar.html">

<dom-module id="form-buttons-bar">
  <template>
<buttons-bar>
 <vaadin-button id="save" slot="left" theme="raised primary">
   Save
 </vaadin-button>
 <vaadin-button id="cancel" slot="left" theme="raised">
   Cancel
 </vaadin-button>
 <vaadin-button id="delete" slot="right" theme="raised tertiary error">
   Delete
 </vaadin-button>
</buttons-bar>
</template>
  <script>
    {
      class FormButtonsBarElement extends Polymer.Element {
        static get is() {
          return 'form-buttons-bar';
        }
      }
      window.customElements.define(FormButtonsBarElement.is, FormButtonsBarElement);
    }
  </script>
</dom-module>
